<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <% if(flash.success && flash.success.length > 0){ %>
        <h5>
            <%= flash.success %>
        </h5>    
    <% } %>
    <h1>Sign Up</h1>
    <form action="/users/create" method="post">
        <label for="name">Name</label> <input type="text" name="name" placeholder="Enter Your name">
        <label for="Email">E-mail</label><input type="email" name="email" placeholder="Enter your Email">
        <label for="password">Password</label> <input type="password" name="password" placeholder="Enter password">
        <label for="ConfirmPassword">Confirm Password</label> <input type="password" name="ConfirmPassword" placeholder="Enter password">
        <input type="submit" value="Sign Up">
    </form>
    
</body>
</html>