<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
</head>

<body>
    <div class="loginbox">
        <img src="/images/pic2.png" class="avatar">
        <h1>Sign In</h1>
        <form action="/users/create-session" method="post">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Your Email">
            <p>Password</p>
            <input type = "password" name="password" placeholder="Enter your Password">
            <input type="Submit" value="Sign In">
            <!-- <a href="#">Forgot Passowrd?</a><br> -->
            <a href="/users/sign-up"> Don't have an account?</a>
        </form>
        
    <script>
        <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500
                
            }).show();    
        <%} %>

        <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500
                
            }).show();    
        <%} %>
    </script>
</body>

</html>